name: Update Release Notes
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag to update
        required: true
jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag }}
          allow_updates: true
          generate_release_notes: true
          append_body: false
